/* declare variables */
:root {
  --green-light: #07d765;
  --green-dark: #00a735;
  --black-light: #636363;
  --black-dark: #333333;
  --white: #ffffff;
  --gray: #eeeeee;
}

/* fonts setup */
@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-Regular.ttf')  format('truetype')
}
@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-Medium.ttf')  format('truetype');
  font-weight: 500;
}
@font-face {
  font-family: 'Lobster Two';
  src: url('../fonts/LobsterTwo-Bold.ttf') format('truetype');
  font-weight: 700;
}

/* common */
html {
  font-size: 16px;
}

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

/* header */
.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  padding: 0 15px;
  background-color: var(--white);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 75px;
  position: relative;
}
.header .logo {
  width: 118px;
  height: 35px;
  background-image: url('../img/logo.png');
  background-size: contain;
  background-repeat: no-repeat;
}
.header .nav {
  position: absolute;
  left: 0;
  top: 75px;
  width: 100%;
  height: 0;
  overflow: hidden;
  background-color: var(--white);
  transition: height 0.35s ease;
}
.header .nav ul {
  border: 1px solid var(--gray);
}
.header .nav li a {
  display: block;
  padding: 5px 10px;
  color: var(--black-dark);
  font-size: 0.875rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  line-height: 26px;
  text-transform: uppercase;
  transition: all 0.5s ease;
}
.header .nav li a:hover {
  color: var(--green-light);
}
.header .menu-toggler {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  background-color: var(--green-light);
  border-radius: 50%;
  cursor: pointer;
}
.header .menu-toggler #menuOpenIcon {
  display: block;
  width: 15px;
  height: 15px;
}
.header .menu-toggler #menuCloseIcon {
  display: none;
  width: 13px;
  height: 13px;
}

/* heading */
.heading {
  height: 100vh;
  background-image: url('../img//heading-bg.jpg');
  background-position: center;
  background-size: cover;
  padding: 0 15px;
}
.heading .container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 75px;
}
.heading .title {
  color: var(--black-dark);
  font-size: 2.125rem;
  font-family: "Lobster Two", cursive;
  line-height: 45px;
  margin-bottom: 35px;
}
.heading .text {
  color: var(--black-dark);
  font-size: 0.875rem;
  font-family: 'Poppins', sans-serif;
  line-height: 26px;
  margin-bottom: 20px;
}
.heading .buttons a {
  display: inline-block;
  margin: 6px;
  background-color: var(--green-light);
  border-radius: 50px;
  padding: 8px 20px;
  color: var(--white);
  font-size: 0.875rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  line-height: 21px;
  position: relative;
  transition: all 0.5s ease-in-out;
}
.heading .buttons a.white {
  background-color: var(--white);
  color: var(--green-light);
}
.heading .buttons a::after {
  content: '';
  position: absolute;
  left: -6px;
  top: -6px;
  right: -6px;
  bottom: -6px;
  border: 2px solid var(--green-light);
  border-radius: 50px;
  transition: all 0.5s ease-in-out;
}
.heading .buttons a.white::after {
  border-color: var(--white);;
}
.heading .buttons a:hover {
  background-color: var(--green-dark);
}
.heading .buttons a.white:hover {
  background-color: var(--black-dark);
  color: var(--white);
}
.heading .buttons a:hover::after {
  border-color: var(--green-dark);
}
.heading .buttons a.white:hover::after {
  border-color: var(--black-light);
}

/* 480px and upper */
@media only screen and (min-width: 480px) {
  .container {
    max-width: 450px;
  }

  .header {
    padding: 0;
  }

  .heading {
    padding: 0;
  }
  .header .container {
    height: 88px;
  }
  .header .nav {
    top: 88px;
  }

  .heading .title {
    font-size: 3.25rem;
    line-height: 62px;
  }
  .heading .text {
    margin-bottom: 30px;
    font-size: 1rem;
    line-height: 26px;
  }
  .heading .buttons a {
    font-size: 1rem;
    line-height: 26px;
  }
}

/* 768px and upper */
@media only screen and (min-width: 768px) {
  .container {
    max-width: 720px;
  }

  .header .logo {
    width: 135px;
    height: 40px;
  }

  .heading .title {
    font-size: 3.75rem;
    line-height: 72px;
  }
}

/* 1024px and upper */
@media only screen and (min-width: 1024px) {
  .container {
    max-width: 980px;
  }

  .header .container {
    height: 96px;
  }
  .header .nav {
    width: auto;
    height: auto;
    position: static;
  }
  .header .nav ul {
    border: none;
    display: flex;
  }
  .header .menu-toggler {
    display: none;
  }

  .heading .title {
    font-size: 4.25rem;
    line-height: 81px;
  }
  .heading .text {
    max-width: 720px;
  }
}

/* 1280px and upper */
@media only screen and (min-width: 1280px) {
  .container {
    max-width: 1200px;
  }

  .heading .title {
    font-size: 4.5rem;
    line-height: 86px;
    margin-bottom: 40px;
  }
  .heading .text {
    margin-bottom: 35px;
  }
  .heading .buttons a {
    line-height: 30px;
  }
}