/* declare variables */
:root {
  --green-light: #07d765;
  --green-dark: #00a735;
  --black-light: #636363;
  --black-dark: #333333;
  --white: #ffffff;
  --gray-dark: #eeeeee;
  --gray-light: #f7f7f7;
  --gray-darker: #dddddd;
  --orange: #ff7d09;
  --red: #e92701;
}

/* fonts setup */
@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-Regular.ttf')  format('truetype')
}
@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-Medium.ttf')  format('truetype');
  font-weight: 500;
}
@font-face {
  font-family: 'Lobster Two';
  src: url('../fonts/LobsterTwo-Bold.ttf') format('truetype');
  font-weight: 700;
}

/* common */
html {
  font-size: 16px;
}

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

/* header */
.header {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  width: 100%;
  padding: 0 15px;
  background-color: var(--white);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 75px;
  position: relative;
}
.header .logo {
  width: 118px;
  height: 35px;
  background-image: url('../img/logo.png');
  background-size: contain;
  background-repeat: no-repeat;
}
.header .nav {
  position: absolute;
  left: 0;
  top: 75px;
  width: 100%;
  height: 0;
  overflow: hidden;
  background-color: var(--white);
  transition: height 0.35s ease;
}
.header .nav ul {
  border: 1px solid var(--gray-dark);
}
.header .nav li a {
  display: block;
  padding: 5px 10px;
  color: var(--black-dark);
  font-size: 0.875rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  line-height: 26px;
  text-transform: uppercase;
  transition: all 0.5s ease;
}
.header .nav li a:hover {
  color: var(--green-light);
}
.header .menu-toggler {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  background-color: var(--green-light);
  border-radius: 50%;
  cursor: pointer;
}
.header .menu-toggler #menuOpenIcon {
  display: block;
  width: 15px;
  height: 15px;
}
.header .menu-toggler #menuCloseIcon {
  display: none;
  width: 13px;
  height: 13px;
}

/* heading */
.heading {
  height: 100vh;
  background-image: url('../img//heading-bg.jpg');
  background-position: center;
  background-size: cover;
  padding: 0 15px;
  position: relative;
}
.heading #particles {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.heading .container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 75px;
  position: relative;
  z-index: 1;
}
.heading .title {
  color: var(--black-dark);
  font-size: 2.125rem;
  font-family: 'Lobster Two', cursive;
  font-weight: 700;
  line-height: 45px;
  margin-bottom: 35px;
}
.heading .text {
  color: var(--black-dark);
  font-size: 0.875rem;
  font-family: 'Poppins', sans-serif;
  line-height: 26px;
  margin-bottom: 20px;
}
.heading .buttons a {
  display: inline-block;
  margin: 6px;
  background-color: var(--green-light);
  border-radius: 50px;
  padding: 8px 20px;
  color: var(--white);
  font-size: 0.875rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  line-height: 21px;
  position: relative;
  transition: all 0.5s ease-in-out;
}
.heading .buttons a.white {
  background-color: var(--white);
  color: var(--green-light);
}
.heading .buttons a::after {
  content: '';
  position: absolute;
  left: -6px;
  top: -6px;
  right: -6px;
  bottom: -6px;
  border: 2px solid var(--green-light);
  border-radius: 50px;
  transition: all 0.5s ease-in-out;
}
.heading .buttons a.white::after {
  border-color: var(--white);;
}
.heading .buttons a:hover {
  background-color: var(--green-dark);
}
.heading .buttons a.white:hover {
  background-color: var(--black-dark);
  color: var(--white);
}
.heading .buttons a:hover::after {
  border-color: var(--green-dark);
}
.heading .buttons a.white:hover::after {
  border-color: var(--black-light);
}

/* banners */
.banners {
  background-color: var(--white);
  padding: 35px 15px;
}
.banners .container {
  display: flex;
  flex-direction: column;
}
.banners .banner {
  padding: 25px 10px;
  border-radius: 10px;
  box-shadow: 0 0px 20px rgba(0, 0, 0, 0.10);
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: transform 0.25s ease;
}
.banners .banner:not(:last-child) {
  margin-bottom: 15px;
}
.banners .banner .title {
  color: var(--black-dark);
  font-size: 1.25rem;
  font-family: 'Lobster Two', cursive;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 8px;
}
.banners .banner .text {
  color: var(--black-light);
  font-size: 0.875rem;
  font-family: 'Poppins', sans-serif;
  line-height: 26px;
  margin-bottom: 5px;
}
.banners .banner .link {
  color: var(--green-light);
  font-size: 0.875rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-style: italic;
  line-height: 26px;
  text-decoration: underline;
}
.banners .banner img {
  max-width: 195px;
  transform: translateX(10px);
}

/* why us */
.why-us {
  background-color: var(--gray-light);
  background-image: url('../img/wave-shape.png');
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: 70%;
  padding: 30px 15px 220px;
  position: relative;
}
.why-us .cocktail-img {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  max-width: 240px;
}
.why-us .container > .title {
  color: var(--black-dark);
  font-size: 1.375rem;
  font-family: 'Lobster Two', cursive;
  line-height: 26px;
  margin-bottom: 15px;
  text-align: center;
}
.why-us .container > .text {
  color: var(--black-light);
  font-size: 0.875rem;
  font-family: 'Poppins', sans-serif;
  line-height: 26px;
  margin-bottom: 16px;
  text-align: center;
}
.why-us .box {
  display: flex;
  align-items: center;
  border: 1px solid var(--gray-dark);
  border-radius: 10px;
  padding: 15px;
  background-color: var(--white);
  transition: all 0.5s ease-in-out;
  font-family: 'Poppins', sans-serif;
}
.why-us .box:hover {
  border-color: var(--green-light);
}
.why-us .boxes-wrapper:first-child,
.why-us .box:first-child {
  margin-bottom: 15px;
}
.why-us .box .icon {
  flex-shrink: 0;
  width: 70px;
  height: 70px;
  margin-right: 10px;
  border: 1px solid var(--green-light);
  border-radius: 50%;
  position: relative;
}
.why-us .box .icon::after {
  content: '';
  position: absolute;
  left: 4px;
  right: 4px;
  top: 4px;
  bottom: 4px;
  background-color: var(--green-light);
  border-radius: 50%;
}
.why-us .box .icon img {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  transform: translate(-50%, -50%);
  max-width: 40px;
}
.why-us .box .title {
  color: var(--black-dark);
  font-size: 0.875rem;
  font-weight: 500;
  margin-bottom: 8px;
  line-height: 16px;
}
.why-us .box .text {
  color: var(--black-light);
  font-size: 0.875rem;
  line-height: 26px;
}

.about-us {
  padding: 40px 15px;
}
.about-us .content .small-title {
  color: var(--green-light);
  font-size: 0.875rem;
  font-family: 'Poppins', sans-serif;
  line-height: 26px;
  margin-bottom: 10px;
}
.about-us .content h2 {
  color: var(--black-dark);
  font-size: 1.375rem;
  font-family: 'Lobster Two', cursive;
  line-height: 26px;
  margin-bottom: 15px;
}
.about-us .content p {
  color: var(--black-light);
  font-size: 0.875rem;
  font-family: 'Poppins', sans-serif;
  line-height: 26px;
  margin-bottom: 16px;
}
.about-us .img-box {
  position: relative;
}
.about-us .img-box img {
  max-width: 100%;
  position: relative;
  z-index: 1;
}
.about-us .img-box::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 0;
  right: 15px;
  bottom: -15px;
  border: 10px solid #FAEAC8;
}

/* products */
.products {
  padding: 30px 15px;
}
.products .container > .title {
  color: var(--black-dark);
  font-size: 1.375rem;
  font-family: 'Lobster Two', cursive;
  line-height: 26px;
  text-align: center;
  margin-bottom: 15px;
}
.products .product {
  display: block;
  position: relative;
  border: 1px solid var(--gray-darker);
  border-radius: 10px;
  margin-bottom: 15px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  overflow: hidden;
}
.products .product:hover {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
}
.products .product .sale {
  display: inline-block;
  padding: 0 8px;
  border-radius: 3px;
  background-color: var(--green-light);
  color: var(--white);
  font-size: 0.875rem;
  font-family: 'Poppins', sans-serif;
  line-height: 26px;
  position: absolute;
  top: 10px;
  right: 10px;
}
.products .product .sale.minus {
  background-color: var(--orange);
}
.products .product .sale.hot {
  background-color: var(--red);
}
.products .product .img-box {
  padding: 10px 10px 0 10px;
  position: relative;
}
.products .product .img-box::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.5);
  transition: all 0.5s ease-in-out;
  transform: scale(0);
  z-index: 1;
}
.products .product:hover .img-box::before {
  transform: scale(1);
}
.products .product .content {
  padding: 15px;
  text-align: center;
}
.products .product .title {
  color: var(--black-dark);
  font-size: 0.875rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  line-height: 17px;
  margin-bottom: 10px;
  text-align: center;
}
.products .product .price {
  color: var(--green-light);
  font-size: 1.125rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  line-height: 26px;
}

/* gallery */
.gallery {

}

/* 480px and upper */
@media only screen and (min-width: 480px) {
  .container {
    max-width: 450px;
  }

  .header {
    padding: 0;
  }

  .heading {
    padding: 0;
  }
  .header .container {
    height: 88px;
  }
  .header .nav {
    top: 88px;
  }

  .heading .title {
    font-size: 3.25rem;
    line-height: 62px;
  }
  .heading .text {
    margin-bottom: 30px;
    font-size: 1rem;
    line-height: 26px;
  }
  .heading .buttons a {
    font-size: 1rem;
    line-height: 26px;
  }

  .banners {
    padding: 50px 0;
  }
  .banners .banner .title {
    font-size: 1.5rem;
    line-height: 29px;
  }
  .banners .banner .text {
    font-size: 1rem;
  }
  .banners .banner .link {
    font-size: 1rem;
  }

  .why-us {
    padding: 50px 0 310px;
  }
  .why-us .container > .title {
    font-size: 1.625rem;
    line-height: 31px;
  }
  .why-us .container > .text {
    font-size: 1rem;
    max-width: 330px;
    margin: 0 auto 35px;
  }
  .why-us .cocktail-img {
    max-width: 320px;
  }
  .why-us .box .title {
    font-size: 1rem;
    line-height: 19px;
  }

  .about-us {
    padding: 55px 0;
  }
  .about-us .content {
    padding-bottom: 20px;
  }
  .about-us .content .small-title {
    font-size: 1rem;
  }
  .about-us .content h2 {
    font-size: 1.625rem;
    line-height: 31px;
  }
  .about-us .content p {
    font-size: 1rem;
  }

  .products {
    padding: 30px 0;
  }
  .products .container > .title {
    font-size: 1.625rem;
    line-height: 31px;
    margin-bottom: 30px;
  }
  .products .row {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
  .products .col {
    flex: 0 0 50%;
    padding: 15px;
  }
  .products .product {
    margin-bottom: 0;
  }
  .products .product .title {
    font-size: 1rem;
    line-height: 20px;
    height: 40px;
  }
}

/* 768px and upper */
@media only screen and (min-width: 768px) {
  .container {
    max-width: 720px;
  }

  .header .logo {
    width: 135px;
    height: 40px;
  }

  .heading .title {
    font-size: 3.75rem;
    line-height: 72px;
  }

  .banners {
    padding: 80px 0;
  }
  .banners .container {
    flex-direction: row;
  }
  .banners .banner {
    flex-direction: column;
  }
  .banners .banner:not(:last-child) {
    margin-bottom: 0;
    margin-right: 30px;
  }
  .banners .banner:hover {
    transform: translateY(-10px);
  }
  .banners .banner .title {
    font-size: 1.625rem;
    line-height: 32px;
  }
  .banners .banner img {
    transform: none;
    margin-top: 20px;
  }

  .why-us {
    padding: 80px 0 360px;
  }
  .why-us .cocktail-img {
    max-width: 350px;
  }
  .why-us .boxes {
    display: flex;
  }
  .why-us .boxes-wrapper:nth-child(1) {
    margin-right: 15px;
  }
  .why-us .boxes-wrapper:nth-child(2) {
    margin-left: 15px;
  }
  .why-us .boxes-wrapper:first-child {
    margin-bottom: 0;
  }
  .why-us .box {
    align-items: flex-start;
  }
  .why-us .box .text {
    width: 90%;
  }

  .about-us {
    padding: 80px 0;
    background-image: url('../img/about-bg.jpg');
    background-repeat: no-repeat;
  }
  .about-us .container {
    display: flex;
    align-items: center;
  }
  .about-us .container > div {
    flex-basis: 50%;
  }
  .about-us .content {
    padding: 0 20px 0 0;
  }
  .about-us .img-box::after {
    bottom: 0;
  }

  .products {
    padding: 50px 0;
  }
  .products .container > .title {
    font-size: 1.625rem;
    line-height: 31px;
  }
  .products .product .title {
    height: auto;
  }
}

/* 1024px and upper */
@media only screen and (min-width: 1024px) {
  .container {
    max-width: 980px;
  }

  .header .container {
    height: 96px;
  }
  .header .nav {
    width: auto;
    height: auto;
    position: static;
  }
  .header .nav ul {
    border: none;
    display: flex;
  }
  .header .menu-toggler {
    display: none;
  }

  .heading .title {
    font-size: 4.25rem;
    line-height: 81px;
  }
  .heading .text {
    max-width: 720px;
  }
  .heading .buttons a {
    line-height: 30px;
  }

  .banners .banner {
    flex-direction: row;
  }
  .banners .banner img {
    max-width: 140px;
    transform: translateX(10px);
  }

  .why-us {
    padding: 80px 0;
    background-size: 50%;
  }
  .why-us .cocktail-img {
    max-width: 289px;
    bottom: 100px;
  }
  .why-us .container > .title {
    font-size: 1.875rem;
    line-height: 36px;
    margin-bottom: 25px;
  }
  .why-us .container > .text {
    max-width: 450px;
  }
  .why-us .boxes-wrapper:nth-child(1) {
    margin-right: 180px;
  }
  .why-us .boxes-wrapper:nth-child(2) {
    margin-left: 180px;
  }
  .why-us .box .text {
    width: 100%;
  }

  .about-us .content h2 {
    font-size: 1.875rem;
    line-height: 36px;
    margin-bottom: 25px;
  }

  .products {
    padding: 80px 0;
  }
  .products .container > .title {
    font-size: 1.875rem;
    line-height: 36px;
    margin-bottom: 40px;
  }
  .products .col {
    flex: 0 0 calc(100% / 3);
  }
}

/* 1280px and upper */
@media only screen and (min-width: 1280px) {
  .container {
    max-width: 1200px;
  }

  .heading .title {
    font-size: 4.5rem;
    line-height: 86px;
    margin-bottom: 40px;
  }
  .heading .text {
    margin-bottom: 35px;
  }
  .heading .buttons a {
    line-height: 35px;
  }

  .banners {
    padding: 100px 0;
  }
  .banners .banner .title {
    font-size: 1.75rem;
    line-height: 34px;
  }
  .banners .banner img {
    max-width: 195px;
  }

  .why-us {
    padding: 100px 0;
  }
  .why-us .cocktail-img {
    max-width: 350px;
    bottom: 70px;
  }
  .why-us .container > .title {
    font-size: 2.5rem;
    line-height: 48px;
  }
  .why-us .container > .text {
    max-width: 350px;
    margin: 0 auto 100px;
  }
  .why-us .boxes-wrapper:nth-child(1) {
    margin-right: 230px;
  }
  .why-us .boxes-wrapper:nth-child(2) {
    margin-left: 230px;
  }

  .about-us {
    padding: 100px 0;
    background-position: center;
  }
  .about-us .content h2 {
    font-size: 2.5rem;
    line-height: 48px;
  }

  .products {
    padding: 100px 0;
  }
  .products .container > .title {
    font-size: 2.5rem;
    line-height: 48px;
  }
  .products .col {
    flex: 0 0 25%;
  }
  .products .product .content {
    padding: 25px 20px;
  }
  .products .product .title {
    margin-bottom: 15px;
  }
}